body{
  background-color: black;
}
.secciones{
  background-color: black;
}
.home{
  background-color: black;
}
.banner{
  width: 100%;
  height: 100%;
  background-color: black;
}
.banner{
  text-align: center;
}

.banner h2{
  text-align: center;
  color: greenyellow;
}
.banner button{
  text-align: center;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-bottom: 20px;
}


.carousel-inner{
  width: 100%;
  height: 600px;
}





