<footer>
    <div class="text_footer">
        <h4>Síguenos en:</h4>
    </div>

    <div class="social-icons">
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i>Instagram |</a>
      <a href="https://www.facebook.com"><i class="fab fa-facebook"></i>Facebook |</a>
      <a href="https://www.twitter.com"><i class="fab fa-twitter"></i>Twitter |</a>
      <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i>TikTok</a>
    </div>
    <p>&copy; Animales del mundo @ 2023. Todos los derechos reservados.</p>
  </footer>
  
