<nav>
    <img routerLink="/"  src='https://img.freepik.com/vektoren-premium/zoo-tor-symbol-in-schwarz-und-weiss_755164-13783.jpg?size=626&ext=jpg&ga=GA1.1.1421000980.1687862415&semt=ais' alt='logo'>
    <a routerLink="/">Home</a>
    <a *ngIf="authApi.getToken()" routerLink="/lista">Listado de animales</a>
    <a *ngIf="authApi.getToken()" routerLink="/gestion">Agrega un animal</a>
    <a *ngIf="!authApi.getToken()" routerLink="/registro">Regístrate</a>
    <a *ngIf="!authApi.getToken()" routerLink="/login">Login</a>
    <button  *ngIf="authApi.getToken()" (click)="logout()">Logout</button>


</nav>
