<nav>
    <div class="first">
    <img routerLink="/"  src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTndbVhLnjQZ_axbk1cYstDVhpmUktdLPuxMxW2XQWp&s' alt='logo'>
    <a routerLink="/">Home</a>
    <a *ngIf="authApi.getToken()" routerLink="/lista">Listado de animales</a>
    <a *ngIf="authApi.getToken()" routerLink="/gestion">Agrega un animal</a>
    </div>
    <div class="login">
    <a *ngIf="!authApi.getToken()" routerLink="/registro">Regístrate</a>
    <a *ngIf="!authApi.getToken()" routerLink="/login">Login</a>
    <button class="button" *ngIf="authApi.getToken()" (click)="logout()">Logout</button>
    </div> 

</nav>
