<div class="card">
    <div class="imagen_card">
        <img src="{{animal.image}}" alt="{{animal.name}}">
    </div>
    <div class="text_card">
        <h4>{{animal.name}}, ({{animal.species}})</h4>
        <p><b>Continent </b><br>{{animal.continent}}</p>
        <p><b>Eats </b><br>{{animal.food}}</p>
        <p><b>Size </b><br>{{animal.size}}</p>
        <p><b>Habitats </b><br>{{animal.habitat}}</p>
       
        <div class="buttons_card">
            <button (click)="deleteAnimal()">Eliminar</button>
            <button (click)="editItem(animal)">Editar</button>
            <button routerLink="/lista">Atrás</button>
        </div>
    </div>  
</div>
  
  