.card {
  display: flex;
  flex-direction: row;
}

.imagen_card {
  margin: 40px;
}

.text_card {
  flex: 1;
  margin: 40px; 
}


.imagen_card img{
  width: 352px;
  border-radius: 15px;
}

.buttons_card {
display: flex;
justify-content: 40px;
text-align: center;
margin: 50px;
gap: 10px;
}

.buttons_card button{
  text-align: center;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin-bottom: 20px;
  border-color: green;
  border-style: none;
  padding: 10px;
}


