
<div class="gestion">
  <div>
    <h2>Select Animal</h2>
  </div>
  <div class="form-container">
    <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
      <input formControlName="image" placeholder="Image URL"> 
      <input formControlName="name" placeholder="name">
      <input formControlName="species" placeholder="species">  
      <input formControlName="continent" placeholder="Continent"> 
      <button type="submit" [disabled]="!animalForm.valid">Submit</button>
    </form>
  </div>

  <figure class="animal-figure">
    <img src="{{newAnimal.image}}" alt="{{newAnimal.name}}"> 
    <figcaption>{{newAnimal.name}}</figcaption>
  </figure>

  <!-- <div class="buttons_gestion">
    <button routerLink="/">Ir a home</button>
    <button routerLink="/lista">Ir a lista</button>
  
  </div> -->
</div>


