.gestion {
  align-items: center;
  text-align: center;
  //color: #ffffff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://img.freepik.com/premium-photo/tropical-leaves-green-background_705804-2084.jpg?w=1380);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px); 
    z-index: -2;
  }
}

.gestion h2 {
  color: #fcfbfb;
}

.form-container form input {
  margin: 25px;
  gap: 25px;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px 20px;
}

.form-container form button {
  text-align: center;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin-bottom: 20px;
  border-color: green;
  border-style: none;
  padding: 10px;
}

.form-container form button:hover {
  background-color: white;
  color: #017711;
  border: 1px solid rgb(255, 255, 255);
}

.animal-figure img {
  width: 352px;
  border-radius: 5%;
  padding-bottom: 14px;
}
.animal-figure{

  margin-bottom: 0px;

}



/*.buttons_gestion button {
  margin: 15px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 1px solid red;
  cursor: pointer;
}

.buttons_gestion button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}*/
