
<div class="b-filters" >

    <div class="b-flex">

        <input class="b-searchBar" type='text' #filtro (input)="filtrar(filtro.value)" placeholder="Buscador">

        <mat-form-field>
            <mat-label>Search by</mat-label>
            <mat-select [(value)]="selectedType" >
            <mat-option *ngFor="let type of searchTypes" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="b-flex">
        <mat-icon class="b-iconListMode" (click)="onClickList()" aria-hidden="false" aria-label="grid icon" fontIcon="grid_on"></mat-icon>
        <mat-icon class="b-iconListMode" (click)="onClickList()" aria-hidden="false" aria-label="list icon" fontIcon="list"></mat-icon>

    </div>             
</div>
    


<ul [ngClass]="{'b-list': isList}" >
    <li [ngClass]="{'b-list__li': isList, '': !isList}" *ngFor="let animal of filteredList">
        <img [ngClass]="{'b-list__img': isList}" routerLink="/lista/{{animal.id}}" src='{{animal.image}}' alt='{{animal.name}}'>
        <div class="b-left">
            <h3>{{animal.name }}</h3>
            <h4>{{animal.continent }}</h4>            
        </div>
        <a routerLink="/lista/{{animal.id}}" >Ver más...</a>

    </li>
</ul>
