<div class="lista_componente">
    <div class="buscador">
        <h3>Busca tu animal</h3>
        <input type='text' #filtro (input)="filtrar(filtro.value)" placeholder="Buscador">
    </div>

    <ul class="cards">
        <li *ngFor="let animal of filteredList">
            <img routerLink="/lista/{{animal.id}}" src='{{animal.image}}' alt='{{animal.name}}'>
            <h4>{{animal.name }}</h4>
            <button routerLink="/lista/{{animal.id}}" >Ver mas...</button>

        </li>
    </ul>
</div>
