
ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px 20px;
  overflow: auto;
  z-index: 1;

}

li {
  width: calc(33% - 20px);
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform .3s; /* Animation */

  &:hover {
      transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

h3 {
  font-size: 15px;
  margin: 2px;
  font-weight: 500;
} 

h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(37, 150, 62);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  align-content: center;
}

button:hover {
  background-color: rgb(196, 196, 196);
  color: rgb(99, 99, 99);
}

.b-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0px 0;
  margin: 0 25px;
}

.b-searchBar {
  height: 56px;
  border: none;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(77, 77, 82, 0.2) 0px 7px 29px 0px;
  padding: 0px 10px;
  margin: 0;
  font-size: 15px;
  transition: all 0.3s ease 0s;

  &:hover {
      background-color: rgb(233, 233, 233);
      color: #000000;
  }

}

input {
    margin: 25px;
    border-radius: 5px;
    color: black;
}

.b-left {
  text-align: left;
  margin-left: 15px;

}

a {
  text-decoration: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: none;
  background-color: rgb(26, 165, 80);
  color: rgb(255, 255, 255);
  padding: 3px 7px;
  border-radius: 5px;
  margin: 0px 0;
  font-size: 12px; 
}

.b-list {
  display: block;
  width: 100%;

  &__li {
      font-size: 10px;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      min-height: 0;
      margin-bottom: 15px;
      transition: transform .2s; /* Animation */
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__img {
      width: 100px;
      height: 100%;
  }
}

.b-iconListMode {
  color: rgb(133, 133, 133);
  transform: scale(1.2);
}



.b-flex {
  display: flex;
  gap: 30px;
}
